    <div> 
        <p> Id: @ViewBag.Produto.Id</p>
        <p> Nome: @ViewBag.Produto.Nome</p>
        <p> Quantidade: @ViewBag.Produto.Quantidade</p>
        <p> Preço: @ViewBag.Produto.Preco</p>
        <p> Descrição: @ViewBag.Produto.Descricao</p>
        <p> Categoria: @ViewBag.Produto.Categoria.Nome</p>

        @Html.ActionLink("Voltar para a lista.", "index", "Produto")
    </div>
